*{
	background-color: white;
	box-sizing: border-box;	

}
.h1{

	text-align: center;
	margin-top: 50px;: 
	
}
 #section1 #label1 {
    height: 30px;
    width: 140px;
    background-color: #fff176d6;
    border: 1px solid black;
    text-align: center;
    color: black;
    float: left;
    position: sticky;
    margin-top: -80px;
    margin-left: 258px;

    }

  #section2 #label2{
    width: 140px;
    height: 30px;
    background-color: #933029;
    border: 1px solid black;
    text-align: center;
    color: black;
    float: left;
    position: sticky;
    margin-top: -80px;
    margin-left: 258px;

  }  
  #section3 #label3{
  	width: 140px;
  	height: 30px;
    background-color: #e376a0;
    border: 1px solid black;
    text-align: center;
    color: black;
    float: left;
    position: sticky;
    margin-top: -80px;
    margin-left: 258px;

  }

.div1{
	background-color: #a94747;
	height: 300px;
	width: 400px;
	border:1px solid black;
    float: left;
    margin:80px 22px 10px 22px;
    padding-top: 80px; 
}
.div2{
	background-color: #437d38;
	height: 300px;
	width: 400px;
	border:1px solid black;
    float: left;
    margin:80px 22px 10px 22px;
    padding-top: 80px;
}
.div3{
	background-color:#252253;
	height: 300px;
	width: 400px;
	border:1px solid black;
    float: left;
    margin:80px 22px 10px 22px;
    padding-top: 80px;

    }
.div1 #section1{
	background-color: #a94747;
	color: white;
	font-size: 20px;
	font-family: serif;

}
.div2 #section2{
	background-color: #437d38;
	color: white;
   font-size: 20px;
   font-family: serif;
}
.div3 #section3{
	background-color: #252253;
	color: white;
	font-size: 20px;
	font-family: serif;
	 display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  

}


@media  (min-width: 767px) and (max-width: 992px){

	.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
		float: left;
	}


	.col-md-1{
		width: 8.33%;
	}
	.col-md-1{
		width: 16.66%;
	}
	.col-md-1{
		width: 25%;
	}
	.col-md-1{
		width: 33%;
	}
	.col-md-1{
		width: 41.66%;
	}
	.col-md-1{
		width: 50%;
	}.col-md-1{
		width: 58.33%;
	}
	.col-md-1{
		width: 66.66%;
	}
	.col-md-1{
		width: 74.99%;
	}
	.col-md-1{
		width: 83.33%;
	}
	.col-md-1{
		width: 91.66%;
	}
	.col-md-1{
		width: 100%;
	}
	}


